@import '../../styles/core';

.agreement-confirmation {
  
  .applecare-container {
    margin-top: 71px;
    margin-bottom: 22px;
    @include viewport(small) {
      margin-top: 45px;
      margin-bottom: 0px;
    }
  }
  .page-title-container {
    padding-top: 0;
    .page-title {
      padding-top: 0;
      @include viewport(small){
        padding-top: 10px;
      }
    }
    span {
      display: inline-block;
      @include typography(body);
      text-align: center;
      @include viewport(small){
        display: inline-block;
      }
    }
  }
  .go-to-mysupport {
    margin-top: 31px;
    text-align: center;
  }
}